extends ../layout.jade
block contenido
    div(class="col-md-5 center-block no-float text-left")
        h1 Agregar Pizza
        form(method= "POST" action="/pizzeria" style ="margin-top:1.5em;")
            div(class="form-group")
                label Nombre
                input(type="text" name="nombre" placeholder="Ingrese nombre" class="form-control")
            div(class="form-group")
                label Descripción
                input(type="text" name="descripcion" placeholder="Descripción" class="form-control")
            div(class="form-group")
                label Ingredientes
                input(type="text" name="ingredientes" placeholder="Ingredientes" class="form-control")
            div(class="form-group")
                label Tipo de Masa
                input(type="text" name="tipoMasa" placeholder="Tipo de Masa" class="form-control")
            div(class="form-group")
                label Tamaño de Pizza
                br 
                input(type="radio" id="tamanoPizza1" name="tamanoPizza" value="Personal" checked>Personal<)
                br 
                input(type="radio" id="tamanoPizza2" name="tamanoPizza" value="Mediana" checked>Mediana<)
                br 
                input(type="radio" id="tamanoPizza3" name="tamanoPizza" value="Grande" checked>Grande<)
                br 
                input(type="radio" id="tamanoPizza4" name="tamanoPizza" value="Extra Grande" checked>Extra Grande<)
            div(class="form-group")
                label Cantidad
                input(type="number" name="cantidad" placeholder="10" class="form-control")
            div(class="form-group")
                label Extra Queso
                br
                input(type="radio" id="siExtraQueso" name="extraQueso" value="SI" checked>SI<)
                br 
                input(type="radio" id="noExtraQueso" name="extraQueso" value="NO" checked>NO<)
            div(class="form-group text-right")
                input(type="submit" class= "btn btn-info" value ="Guardar")
