doctype html
html(lang="en")
  head
    title Desarrollo Apis
    meta(charset="utf-8")
    link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet")
    link(href="/css/main.css" rel="stylesheet")
    link(href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css')
    link(href='css/animate.css' rel='stylesheet' type='text/css')
  body
    nav(class="large-padding fondo-gris")
        ul(class="no-list mediano")
            li(class="pacifico col-md-3 inline-block")
                a(href="/" class="green") Laboratorio #4
            
            li(class="col-md-3 inline-block")
                a(href="/nuevo") Pizza Nueva
            
            li(class="col-md-3 inline-block")
                a(href="/basedatos") Pizzeria Productos

            li(class="col-md-3 inline-block")
                a(href="/json") Cifrado Json

    block contenido